language: php

php:
  - 7.1

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest

script: vendor/bin/phpunit --no-coverage

after_success:
  - travis_retry php vendor/bin/coveralls -v -x ./build/logs/clover.xml